.ipynb_checkpoints
.DS_Store
*.h5
logs/
tf_logs/
tf-logs/
*~
*.ckpt*
datasets/
submission.csv
.python-version
neural-style-transfer/results
_MACOSX/
.idea
named-entity-recognition/models/
*.png

comet-ml/data/
__MACOSX/
